@model PagedList.IPagedList<Model.EF.Account>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý cửa hàng đối tác";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Quản lý cửa hàng đối tác
}
@section css{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
@section script{
    <!-- Page level plugins -->
    <script src="~/assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(".BlockLink").click(function () {
            window.location.href = "/Admin/Merchant/Index"
        });
    </script>
    <script type="text/javascript">
        $(".UpdateLink").click(function () {
            window.location.href = "/Admin/Merchant/Index"
        });
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách cửa hàng đối tác</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Merchant", FormMethod.Get))
        {
            <div class="row">
                <div class="col-lg-4">
                    <input class="form-control bg-light border-0 small" type="text" placeholder="Search..." value="@ViewBag.SearchString" name="searchString" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search fa-sm"></i></button>
                </div>
            </div>
        }
        <hr />
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid">
                    <thead>
                        <tr>
                            <th>Tên cửa hàng</th>
                            <th>Người quản lý</th>
                            <th>CMND/ Căn cước</th>
                            <th>Ảnh CMND/Căn cước</th>
                            <th>Đánh giá</th>
                            <th>Tình Trạng</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ShopName</td>
                                <td>@item.Name</td>
                                <td>@item.CMND</td>
                                <td><img width="230" style="max-height:127px; max-width:230px" src="@item.ImgCMND"></td>
                                <td>@item.Rating/5</td>
                                @if (item.StatusShop == true)
                                {
                                    <td style="color:green">Đã Kích hoạt</td>
                                }
                                else
                                {
                                    <td style="color:red">
                                        Chưa kích hoạt | @Ajax.ActionLink("Kích hoạt", "UpdateStatus", new { id = item.ID }, new AjaxOptions
                                      {
                                          Confirm = "Bạn có muốn kích hoạt shop này?",
                                      }, new { @class = "UpdateLink btn btn-success" })
                                    </td>
                                }
                                <td id="row_@item.ID">
                                    <a href="/Admin/Merchant/EditMerchant/@item.ID">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Khóa", "BlockMerchant", new { id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn Khóa shop này?",
                                       }, new { @class = "BlockLink" })
                                    |
                                    <a href="/Admin/Merchant/MerchantDetail/@item.ID">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>