@model IEnumerable<Model.EF.Content>
@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tag = (Model.EF.Tag)ViewBag.Tag;
}
<div class="content">
    <div class="heading">
        <h3>@tag.Name</h3>
    </div>
    <div class="clear"></div>
    @foreach (var item in Model)
    {
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="@item.Image" alt="" />
            </div>
            <div class="grid news_desc">
                <h3><a href="/tin-tuc/@item.MetaTitle-@item.ID">@item.Name</a></h3>
                <h4>Post on @item.CreateDate by <span><a href="http://facebook.com/namlaem1010">@item.CreateBy</a></span></h4>
                <p>@item.Descriptions <a href="/tin-tuc/@item.MetaTitle-@item.ID" title="more">[....]</a></p>
            </div>
        </div>
    }
    @if (ViewBag.TotalPage > 1)
    {
        // phân trang
        var pageDisplay = (int)ViewBag.MaxPage;
        int totalPage = (int)ViewBag.TotalPage;
        int currentPage = (int)ViewBag.Page;
        // create numberic links
        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

        var link = "/tag" + tag.ID;
        <nav>
            <ul class="pagination">
                @if (currentPage > ViewBag.First)
                {
                    <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a></li>
                }
                @for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (currentPage == i)
                    {
                        <a href="@link?page=@i" class="active" title="Trang @i">@i</a>
                    }
                    else
                    {
                        <a href="@link?page=@i" title="Trang @i" class="pos">@i</a>
                    }
                }
                @if (currentPage < totalPage)
                {
                    <li><a href="@link?page=@ViewBag.Next" title="Trang sau" class="next"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="@link?page=@ViewBag.Last" title="Trang cuối" class="last"><i class="fa fa-angle-double-right"></i></a></li>
                }
            </ul>
        </nav>
    }
</div>


