@model Model.EF.Account
@{
    ViewBag.Title = "Chỉnh sửa người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Chỉnh sửa thông tin tài khoản
}
@section script{
    <script src="~/assets/Admin/jsController/Admin-User.js"></script>
}
<div class="row">
    <div class="col-lg-7">
        <div>
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Nhập thông tin người dùng</h1>
            </div>
            @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "user", @id = "formsubmit-admin" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-user", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", @placeholder = "Mật khẩu" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-user", @placeholder = "Họ Tên", @required = "true" })
                </div>
                <div class="form-group">
                    <div id="PhoneMessage" class="text-danger"></div>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control form-control-user", @placeholder = "Sô điện thoại", @required = "true" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control form-control-user", @placeholder = "Địa chỉ", @required = "true" })
                </div>
                <div class="form-group">
                    <div id="EmailMessage" class="text-danger"></div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", @placeholder = "Email", @required = "true" })
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        @Html.CheckBoxFor(model => model.Status, new { @class = "custom-control-input", @id = "customCheck" })
                        <label class="custom-control-label" for="customCheck">Kích hoạt tài khoản</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Cập nhật" class="btn btn-primary btn-user btn-block" />
                </div>
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
